
.sidebar {
  text-align: left;
  color: #ffffff;
  background-color: #2196F3;
  overflow: hidden;

}



.progress .determinate {
    background-color: #2196F3;
}
.progress .determinate .fa{
    position:absolute;
    top:-5px;
    font-size:12px;
    right:0px;
    color: #2196F3;
}


.interests{
    color: #2196F3;
}
blockquote{
    border-left: 5px solid #2196F3;
}
