
.sidebar {
  text-align: left;
  color: #ffffff;
  background-color: #4CAF50;
  overflow: hidden;

}
.progress .determinate {
    background-color: #4CAF50;
}
.progress .determinate .fa{
    position:absolute;
    top:-5px;
    font-size:12px;
    right:0px;
    color: #4CAF50;
}


.interests{
    color: #4CAF50;
}
blockquote{
    border-left: 5px solid #5da4d9;
}
