html, body {
    background-color: rgb(239, 233, 233);
    height: 100%;
    overflow: auto;
}

body {
    padding: 10px;
    color: rgb(118, 114, 112);
}

    body > div:first-child {
        width: 100%;
        height: 100%;
    }

.container {
    height: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.zeroMargin {
    margin: 0px;
}

.zeroPadding {
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0;
}

h3 {
    font-size: 20pt;
    line-height: 24pt;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h5 {
    font-size: 15pt;
    line-height: 15pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    padding-bottom: 20px;
}

.fullHeight {
    height: 100%;
}

.sidebar .heading {
    position: relative;
    padding: 0px;
}

.sidebar img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.sidebar .info {
    border-bottom: 1px solid #4783c2;
    padding-left: 0px;
}

.sidebar .col {
    margin-top: 10px;
}

.navIcon {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 3;
}

aside .navIcon {
    position: absolute;
    top:0px;
    left: 10px;
    z-index: 3;
}

aside .fixed-action-btn.navIcon ul{
    text-align:left;
    position:absolute;
    padding-left:0px;
    top:70px;

}

.image {
    position: relative;
}

.socialLinks a {
    color: white;
}

.section {
    background-color: rgb(239, 233, 233);
}

    .section .flow-text {
        font-size: 1.25rem;
    }

.col ul {
    padding-left: 25px;
    /*override this from materialize css 
    ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}*/
}

section li:before {
    content: "\f046"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.progress {
    overflow: visible;
}

.card-content h3 {
    margin-bottom: 20px;
}


.createTabs li {
    margin: 5px;
}

.instructions li:before {
    content: "\f046"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layoutSelector {
    position: fixed;
    top: 15px;
    right: 10px;
}

/*Below styles are to create a vertical switch i.e customize the horozontal switch to vertical switch */
.switch label .lever {
    width: 24px;
    height: 50px;
}

    .switch label .lever:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        left: 2px;
        top: 3px;
        transition: top 0.3s ease, background .3s ease, box-shadow 0.1s ease;
    }

.switch label input[type=checkbox]:checked + .lever:after {
    top: 26px;
    left: 2px;
     background-color: white; 
}
.switch span:first-child{
    position:absolute;
    top:-17px;
   
}
.switch span:last-child{
    position:absolute;
  
}

.navIcon.horizontal ul {
    text-align: left; 
    left: 50px;
    top: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50px;
    width: 500px;
    position: absolute;
}

.mtipFont{
    font-family:Magneto;
    font-weight:bold;
    font-style:italic;
}
.parallax-container{
    padding:100px;
}
.mtiplogo{
    max-height:100px;
    max-width:100px;

}

.helper {
    float:right;
    height: 100%;
    vertical-align: middle;
    line-height: 50px;
}

.browsers{
    padding:10px;
}
.browsers span{
    padding:10px;
}

.codeBlock{
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2em;
    margin:15px;
    background: #e6eff1;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.0);
    white-space: pre-wrap;
}

.codeBlock:hover{
    box-shadow: 5px 5px 20px  #e6eff1;
    background:rgb(158, 226, 235);
    -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out ;
  -ms-transition: all .5s ease-out ;
  -o-transition: all .5s ease-out ;
  transition: all .5s ease-out ;

}
.tabs .indicator{
   background-color:cornflowerblue;
}

.tab{
    cursor: pointer;
}
div.demoCols{
    padding:20px !important;
}
@media (max-width:992px){
      /* hide the layout selector in small devices as the layout rendered is same for both the cases*/
 .layoutSelector{
        display: none;
    }
}