<div class="container">
    <div class="row card  text-center">
        <div class="row col s12">
            <h3>Portfolio Design: Manish Kumar</h3>
        </div>
        <div class="row col s12 text-center">
            <div class="col s4" title="Facebook">
                <a href="http://facebook.com/manishjanky" target="_blank"><span class="fa fa-5x fa-facebook-square"></span></a>
            </div>
            <div class="col s4" title="Google Plus">
                <a href="https://plus.google.com/107936389381835582160" target="_blank"><span class="fa fa-5x fa-google-plus-square"></span></a>
            </div>
            <div class="col s4" title="Likedin">
                <a href="https://in.linkedin.com/in/manishjanky" target="_blank"><span class="fa fa-5x fa-linkedin-square"></span></a>
            </div>
        </div>
        <div class="row col s12 text-center">
            <div class="col s4" title="StackOverflow">
                <a ng-href="http://stackoverflow.com/users/4948483/manish" target="_blank"><span class="fa fa-5x fa-stack-overflow"></span></a>
            </div>
            <div class="col s4" title="Github">
                <a href="https://github.com/manishjanky" target="_blank"><span class="fa fa-5x fa-github"></span></a>
            </div>
            <div class="col s4" title="Manish Portfolio">
                <a href="https://manishjanky.github.io" target="_blank"><img src="favicon.ico" height="75px" width="auto"></a>
            </div>
        </div>

    </div>

</div>