<aside class=" col l4 m12 s12 sidebar z-depth-3">

    <div class="row heading ">
        <a href="" data-activates="slide-out" class="btn-floating  button-collapse navIcon text-center" ng-class="$parent.styleSheet"><span class="fa fa-bars text-center"></span></a>
        <div class="image">
            <a href="#/index.html">
                <img src="images/ManishKumar.jpg" err-src="http://www.iconsdb.com/icons/preview/caribbean-blue/businessman-xxl.png" />
            </a>
        </div>
        <div class=" title col l12">
            <h5 class="text-center">{{user.name}}</h5>
            <h6 class="text-center">{{user.designation}}</h6>
        </div>
    </div>
    <div class=" row col l12 m12 s12 ">
        <div class="col l3 m3 s3">
            <span class="fa fa-2x fa-user"></span>
        </div>
        <div class="col l9 m9 s9 info">
            <p class="zeroMargin">
                {{user.aboutMe}}
            </p>
        </div>
    </div>
    <div class=" row col l12 m12 s12 ">
        <div class="col l3 m3 s3">
            <span class="fa fa-2x fa-phone"></span>
        </div>
        <div class="col l9 m9 s9 info">
            <div>
                <p class="zeroMargin">
                    Mobile:
                    {{user.contactDetails.contactNumber}}
                </p>
            </div>
            <div ng-if="user.contactDetails.alternateNumber">
                <p class="zeroMargin">
                    Alternate:
                    {{user.contactDetails.alternateNumber}}
                </p>
            </div>
        </div>
    </div>
    <div class=" row col l12 m12 s12 ">
        <div class="col l3 m3 s3">
            <span class="fa fa-2x fa-envelope"></span>
        </div>
        <div class="col l9 m9 s9 info">
            <div>
                <p class="zeroMargin">
                    {{user.contactDetails.email}}
                </p>
            </div>
            <div ng-if="user.alternateEmail">
                <p class="zeroMargin">
                    {{user.contactDetails.alternateEmail}}
                </p>
            </div>
        </div>
    </div>
    <div class=" row col l12 m12 s12 ">
        <div class="col l3 m3 s3">
            <span class="fa fa-2x fa-address-card"></span>
        </div>
        <div class="col l9 m9 s9 info">
            <div>
                <p class="zeroMargin">
                    {{user.contactDetails.address.street}}
                    <br />
                    {{user.contactDetails.address.society}}
                    <br />
                    {{user.contactDetails.address.city}}
                    <br />
                    {{user.contactDetails.address.state}} - {{user.contactDetails.address.pin}}
                </p>
            </div>
        </div>
    </div>


    <div class="row col l12 m12 s12">
        <a href="http://stackoverflow.com/users/4948483/manish">
            <img src="http://stackoverflow.com/users/flair/4948483.png?theme=clean" width="208" height="58" alt="profile for Manish at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Manish at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
    </div>
    <div class="row col l12 m12 s12 socialLinks">
        <div class="col l4 m4 s4" title="Facebook" ng-if="user.socialProfiles.facebook">
            <a ng-href="{{user.socialProfiles.facebook}}" target="_blank"><span class="fa fa-3x fa-facebook-square"></span></a>
        </div>
        <div class="col l4 m4 s4" title="Google Plus" ng-if="user.socialProfiles.googlePlus">
            <a ng-href="{{user.socialProfiles.googlePlus}}" target="_blank"><span class="fa fa-3x fa-google-plus-square"></span></a>
        </div>
        <div class="col l4 m4 s4" title="Twitter" ng-if="user.socialProfiles.twitter">
            
        </div>
        <div class="col l4 m4 s4" title="LinkedIn" ng-if="user.socialProfiles.linkedin">
            <a ng-href="{{user.socialProfiles.linkedin}}" target="_blank"><span class="fa fa-3x fa-linkedin-square"></span></a>
        </div>
        
    </div>
    <div class="row col l12 m12 s12 text-center" title="Download Resume" >
            <a href="https://manishjanky.github.io/Downloads/Manish_Resume.docx" download="Manish_Resume" class="btn" ng-class="$parent.styleSheet"><span class="fa  fa-download"></span> Download Resume</a>
    </div>

</aside>
<!--Slide In Navigation Menu-->
<ul id="slide-out" class="side-nav collection" ng-class="$parent.styleSheet">
    <li class="collection-item" ng-class="$parent.styleSheet"><a href="#/">Home</a></li>
    <li class="collection-item" ng-class="$parent.styleSheet"><a href="#/projects">Projects</a></li>
    <li class="collection-item" ng-class="$parent.styleSheet"><a href="#/coverLetter">Cover Letter</a></li>
</ul>
<script>
    //create the sidebar navigation
    $(".button-collapse").sideNav();
</script>
