<div class="fixed-action-btn ">
    <a class="btn-floating btn-large" ng-class="$parent.styleSheet">
        <i class="large fa fa-snowflake-o"></i>
    </a>
    <ul>
        <li title="Red Theme"><a class="btn-floating red" ng-click="$parent.updateStyle('red')"></a></li>
        <li title="Green Theme"><a class="btn-floating green" ng-click="$parent.updateStyle('green')"></a></li>
        <li title="Blue Theme"><a class="btn-floating blue" ng-click="$parent.updateStyle('blue')"></a></li>
        <li title="Orange Theme"><a class="btn-floating orange" ng-click="$parent.updateStyle('orange')"></a></li>
        <li title="Purple Theme"><a class="btn-floating purple" ng-click="$parent.updateStyle('purple')"></a></li>
    </ul>
</div>